---
import AccordionExample from '../components/AccordionExample.astro';
import InputExample from '../components/InputExample.astro';
import NumberInputExample from '../components/NumberInputExample.astro';
import RadioInputExample from '../components/RadioInputExample.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex flex-col gap-4">
    <InputExample />
    <NumberInputExample />
    <RadioInputExample />
    <AccordionExample />
  </div>
</Layout>
