---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'body'>;
---

<body
  class:list={['flex h-svh min-h-svh flex-col', Astro.props.class]}
  {...Astro.props}>
  <slot />
</body>
