---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../utils/css';

type Props = HTMLAttributes<'body'>;
---

<body
  {...Astro.props}
  class={cn('flex h-full min-h-svh flex-col', Astro.props.class)}>
  <slot />
</body>
