---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'> & {
  alignment?: 'horizontal' | 'vertical' | undefined;
};

const { alignment, class: providedClass, ...restProps } = Astro.props;

let cssClass = 'join';

if (alignment === 'vertical') {
  cssClass += ' join-vertical';
} else if (alignment === 'horizontal') {
  cssClass += ' join-horizontal';
}

if (providedClass) {
  cssClass += ` ${providedClass}`;
}
---

<div class={cssClass} {...restProps}>
  <slot />
</div>
