---
import type { HTMLAttributes } from 'astro/types';
import type { Direction } from '../../types/direction';

type Props = HTMLAttributes<'div'> & {
  direction?: Direction | undefined;
};

const {
  direction = 'vertical',
  class: providedClass,
  ...restProps
} = Astro.props;

let cssClass = 'join';

if (direction === 'vertical') {
  cssClass += ' join-vertical';
} else if (direction === 'horizontal') {
  cssClass += ' join-horizontal';
}

if (providedClass) {
  cssClass += ` ${providedClass}`;
}
---

<div class={cssClass} {...restProps}>
  <slot />
</div>
