@import 'tailwindcss';

@source "../../../node_modules/@codemint/astro-ui";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;

  --size-field: 0.21875rem;
  --depth: 0;
}

@theme {
  --font-sans: system-ui, sans-serif;
}

@layer base {
  body {
    @apply h-svh;
  }
}

@layer components {
  .main-content {
    @apply container mx-auto h-full p-5;
  }
}
