---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'label'> & {
  labelStartClass?: string | undefined;
  labelEndClass?: string | undefined;
};

const { labelStartClass, labelEndClass, ...rest } = Astro.props;

const props: Props = {
  ...rest,
  class: `input validator focus:outline-none focus-visible:outline-none focus-within:outline-0 [&_input]:px-0 ${rest.class ?? ''}`,
};
---

<label {...props}>
  {
    Astro.slots.has('labelStart') && (
      <span class:list={['label first:mr-0!', labelStartClass]}>
        <slot name="labelStart" />
      </span>
    )
  }

  <slot />

  {
    Astro.slots.has('labelEnd') && (
      <span class:list={['label last:ml-0!', labelEndClass]}>
        <slot name="labelEnd" />
      </span>
    )
  }
</label>
