---
import { Button } from '@codemint/astro-ui';
import { Card, CardActions, CardTitle } from '@codemint/astro-ui';
---

<Card color="primary" borderColor="error" borderStyle="dash">
  <CardTitle>Card Title</CardTitle>
  <p>
    A card component has a figure, a body part, and inside body there are title
    and actions parts
  </p>
  <CardActions justify="end">
    <Button>Buy Now</Button>
  </CardActions>
</Card>
