---
import type { HTMLAttributes } from 'astro/types';
import type { CommonColor } from '../../../types/color';
import type { Size } from '../../../types/size';
import type { ButtonModifier, ButtonStyle } from './types';
import { getButtonClass } from './utils';

type Props = HTMLAttributes<'button'> & {
  color?: CommonColor | undefined;
  size?: Size | undefined;
  buttonStyle?: ButtonStyle | undefined;
  modifier?: ButtonModifier | undefined;
  active?: boolean | undefined;
};

const {
  type = 'button',
  color,
  size,
  buttonStyle,
  modifier,
  active = false,
  class: providedClass,
  ...restProps
} = Astro.props;

const cssClass = getButtonClass(
  color,
  size,
  buttonStyle,
  modifier,
  active,
  providedClass
);
---

<button class={cssClass} {type} {...restProps}>
  <slot />
</button>
