---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const { class: providedClass, ...restProps } = Astro.props;

let cssClass = 'collapse-content';

if (providedClass) {
  cssClass += ` ${providedClass}`;
}
---

<div class={cssClass} {...restProps}>
  <slot />
</div>
