---
import type { FooterLink } from '../../types/link';
import Link from '../../ui/Link/Link.astro';

type Props = {
  links: FooterLink[];
};
---

<nav class="flex w-full justify-center gap-4 flex-wrap">
  {
    Astro.props.links.map(link => (
      <Link href={link.href} hoverLink>
        {link.label}
      </Link>
    ))
  }
</nav>
