---
import Link from '../../components/ui/Link/Link.astro';

type Props = {
  authorName: string;
  authorWebsiteUrl: string;
};

const currentYear = new Date().getFullYear();
---

<aside class="flex w-full flex-col items-center">
  <p>
    Developed by
    <Link
      color="primary"
      hoverLink
      target="_blank"
      href={Astro.props.authorWebsiteUrl}>
      {Astro.props.authorName}
    </Link>
  </p>
  <p>
    Copyright &copy; {currentYear} - All rights reserved
  </p>
</aside>
