---
import Link from '../../ui/Link/Link.astro';

type Props = {
  authorName: string;
  authorWebsiteUrl: string;
};
---

<aside
  class="flex w-full flex-col sm:justify-center gap-x-16 max-sm:items-center sm:flex-row">
  <p>
    Developed by
    <Link
      color="primary"
      hoverLink
      target="_blank"
      href={Astro.props.authorWebsiteUrl}>
      {Astro.props.authorName}
    </Link>
  </p>
  <p>
    Copyright &copy; <span id="copywright-year"></span> - All rights reserved
  </p>
</aside>

<script>
  const copyWriteYearElement = document.getElementById('copywright-year');

  if (copyWriteYearElement) {
    copyWriteYearElement.textContent = new Date().getFullYear().toString();
  }
</script>
