---
import type { AvatarStatus } from './types';
import { getAvatarStatusClass } from './utils';

type Props = {
  class?: string | undefined;
  status?: AvatarStatus | undefined;
  rounded?: boolean | undefined;
};

const { status, rounded, class: providedClass } = Astro.props;

let contianerClass = 'avatar';

if (status) {
  contianerClass += ` ${getAvatarStatusClass(status)}`;
}
---

<div class={contianerClass}>
  <div class:list={['w-24', { 'rounded-full': rounded }, providedClass]}>
    <slot />
  </div>
</div>
