---
import type { Direction } from '../../../types/direction';
import { cn } from '../../../utils/css';

type Props = {
  title?: string | undefined;
  direction?: Direction | undefined;
};

const { title, direction = 'vertical', ...restProps } = Astro.props;
---

<nav {...restProps}>
  {title ? <h6 class="footer-title">{title}</h6> : null}
  <div
    class={cn('flex gap-2 gap-x-6', {
      'flex-col': direction === 'vertical',
    })}>
    <slot />
  </div>
</nav>
