---
import type { HTMLAttributes } from 'astro/types';
import type { Justify } from '../../types/alignment';
import { getJustifyClass } from '../../utils/alignment';

type Props = HTMLAttributes<'div'> & {
  justify?: Justify | undefined;
};

const { class: providedClass, justify, ...restProps } = Astro.props;

let cssClass = 'card-actions';

if (justify) {
  cssClass += ` ${getJustifyClass(justify)}`;
}

if (providedClass) {
  cssClass += ` ${providedClass}`;
}
---

<div class={cssClass} {...restProps}>
  <slot />
</div>
